src/main/mule/databaseFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="190ca508-c7ce-419e-81df-d81a75eacfee" >
		<db:my-sql-connection host="db4free.net" port="3306" user="rahul1996" password="godisgreat@123" database="rahulapisero" />
	</db:config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7ed11e91-2a22-4c98-bfd1-5cff6b3556db" >
		<http:request-connection host="http://localhost:8081/order" port="80" />
	</http:request-config>
	<flow name="dataBaseFlow" doc:id="f2287cd9-ac25-41cf-bc34-c80cefbdee0a" >
		<http:listener doc:name="Listener" doc:id="4bf6457a-1103-43cd-98db-1fa2d81a8bfa" config-ref="HTTP_Listener_config" path="/db" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="4b23ff94-94ae-4247-b40b-1fc71d227275" config-ref="Database_Config">
			<db:sql >${'DB.query'}</db:sql>
		</db:select>
		<logger level="DEBUG" doc:name="payload" doc:id="dad7fdc6-12ad-4591-a2c1-50a3656005b9" message="#[payload]" category="performance" doc:description="displays payload"/>
		<http:request method="GET" doc:name="Request" doc:id="38743db1-63ba-4c08-ad54-7b4ae2d0e9e7" config-ref="HTTP_Request_configuration" path="/abc" sendCorrelationId="ALWAYS"/>
		<batch:job jobName="databaseFlowBatch_Job" doc:id="8618ee7f-d0e1-4e4b-bfe4-c05754420254" schedulingStrategy="ROUND_ROBIN">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="3d09204d-228e-4c41-86e1-25dfcf078e2d" />
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
