src/main/mule/iz-analyzer-demo.xml
<?xml version="1.0" encoding="UTF-8"?>



<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="izAnalyzerDemoFlow" doc:id="afff6d84-dd52-4c99-9a5e-92c57bd03aff" >
		<http:listener doc:name="Listener" doc:id="fc53e5ea-b4de-4615-8d7c-00662d59edab" path="/order" doc:description="listener" config-ref="HTTP_Listener_config"/>
		<set-payload value='#["Hii"]' doc:name="Greet" doc:id="df471d6e-446a-4558-be67-e74cca3af8f5" />
		<logger level="DEBUG" doc:name="message" doc:id="9c863b37-bd42-4d8b-89c1-4dbeaa19dc47" message="#[payload]" category="performance" doc:description="display a message"/>
		<choice doc:name="check payload" doc:id="e65f6227-2208-4fb7-95a0-f6dfdfcc8606" >
			<when expression='#[payload == "Hi"]'>
				<logger level="TRACE" doc:name="default" doc:id="d501d9f3-7813-4a0c-936e-8e9ed60053aa" category="monitoring" message='#["wrong"]' doc:description="log"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="f1f13ac7-3ba7-4001-937c-e719bff26e4a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
greet: {
	message: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
